@using ApplicationSite.Tools
@using MarkdownDeep
@model ApplicationSite.ViewModels.PositionsListDetailViewModel
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h2>@Model.Position.Title</h2>
        @{
            var md = new Markdown {ExtraMode = true, SafeMode = false};
            @Html.Raw(md.Transform(Model.Position.Description))
        }
        @if (Model.IsLoggedIn)
        {
            if (!Model.HasAlreadyApplied)
            {
                <button id="resumeButton" data-url='@Url.Action("ApplyDialog", "Positions", new { id = Model.Position.Id }, null)' onclick=" setupSiteModal('#resumeContainer', '#resumeModal', '#resumeButton'); " class="btn btn-default" type="button" title="Apply">Apply</button>
            }
            else
            {
                <button id="withdrawButton" class="btn btn-default" data-url='@Url.Action("WithdrawDialog", "Positions", new {id = Model.Position.Id}, null)' onclick=" setupSiteModal('#resumeContainer', '#resumeModal', '#withdrawButton'); " type="button" title="Withdraw">Withdraw</button>
            }
        }
        else
        {
            <h4>You have to login in order to apply!</h4>
        }

    </div>
</div>