@model ApplicationSite.Models.Positions
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@Model.Title</h2>
        <p>@Model.Description</p>
        <button class="btn btn-default" onclick="location.href = '@Url.Action("Apply", "Positions", new {id = Model.Id}, null)' " type="button" title="Apply">Apply</button>
    </div>
</div>

