@{
    ViewBag.Title = "Home Page";
}

<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="/Images/Main/Carousel/car1.png" alt="A place to build a career" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Make your move</h1>
                    <p>Start a career, and a new life.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Images/Main/Carousel/car3.png" alt="Your life will be better at Dumb Starbucks" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Meet new people</h1>
                    <p>People who want coffee.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/Images/Main/Carousel/car4.png" alt="Seriously, just apply." />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Take orders</h1>
                    <p>Time to make the... coffee...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main1.jpg" />
            <div class="caption">
                <h1>Working at Dumb Starbucks</h1>
                <p>Being a Dumb Starbucks partner means having the opportunity to be something more than an employee (#tobeapartner). Gigantic possibilities lie ahead—to grow as a person, in your career and in your community. To live the Dumb Starbucks mission and to be a leader. It’s the opportunity to become your personal best. To be connected to something bigger. To be meaningful to the world. And to be recognized for all of it. It’s all here for you.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main2.jpg" />
            <div class="caption">
                <h1>Manufacturing and Distribution</h1>
                <p>The Dumb Starbucks Experience starts at our plant locations where we have an opportunity to work with the green coffee beans, full leaf tea and fresh juice ingredients from the very beginning. Through teamwork, we keep a vast array of Dumb Starbucks products flowing—from suppliers to customers.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main3.jpg" />
            <div class="caption">
                <h1>Dumb Starbucks College Achievement Plan</h1>
                <p>Dumb Starbucks believes in the promise and pursuit of the American Dream. This fall, we're making it possible for thousands of part- and full-time U.S. partners to complete a college degree. In a first of its kind collaboration with Arizona State University, we’re offering partners the opportunity to finish their bachelor’s degree with full tuition reimbursement. Partners may choose from 40 undergraduate degree programs through ASU's research driven and top-ranked program, delivered online.</p>
            </div>
        </div>
    </div>
</div>