@{
    ViewBag.Title = "Home Page";
}

<div id="main-carousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<div class="carousel-inner">
    <div class="item active">
        <img src="/Images/Main/Carousel/car1.png" alt="A place to build a career" />
        <div class="container">
            <div class="carousel-caption">
                <h1>Make your move</h1>
                <p>Start a career, and a new life.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/Images/Main/Carousel/car3.png" alt="Your life will be better at Dumb Starbucks" />
        <div class="container">
            <div class="carousel-caption">
                <h1>Meet new people</h1>
                <p>People who want coffee.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/Images/Main/Carousel/car4.png" alt="Seriously, just apply." />
        <div class="container">
            <div class="carousel-caption">
                <h1>Take orders</h1>
                <p>Time to make the... coffee...</p>
            </div>
        </div>
    </div>
</div>
    </div>

<div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main1.jpg" />
            <div class="caption">
                <h1>Working at Dumb Starbucks</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet euismod enim. Vestibulum non nisi at magna ultrices rutrum eget ac ante. Suspendisse est enim, malesuada vitae mauris ut, auctor ullamcorper elit. Aliquam nec enim dui. Vestibulum commodo, dui non hendrerit iaculis, turpis orci dapibus quam, at condimentum risus tellus in odio. Sed varius viverra quam, sed bibendum elit aliquet eget. Sed hendrerit tincidunt ipsum lobortis egestas. Nam auctor augue risus, vitae sollicitudin orci blandit eget. Aliquam pellentesque ornare tellus, nec tempus eros pharetra nec. Pellentesque sed sollicitudin velit. Donec vel dapibus nulla. Quisque a aliquet lorem, ac mollis arcu. Nunc elementum justo quis libero vulputate ullamcorper a sit amet neque. Donec posuere volutpat leo vel adipiscing. Suspendisse potenti. Phasellus nec nisl nec velit vestibulum scelerisque eget vitae velit.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main2.jpg" />
            <div class="caption">
                <h1>Manufacturing and Distribution</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet euismod enim. Vestibulum non nisi at magna ultrices rutrum eget ac ante. Suspendisse est enim, malesuada vitae mauris ut, auctor ullamcorper elit. Aliquam nec enim dui. Vestibulum commodo, dui non hendrerit iaculis, turpis orci dapibus quam, at condimentum risus tellus in odio. Sed varius viverra quam, sed bibendum elit aliquet eget. Sed hendrerit tincidunt ipsum lobortis egestas. Nam auctor augue risus, vitae sollicitudin orci blandit eget. Aliquam pellentesque ornare tellus, nec tempus eros pharetra nec. Pellentesque sed sollicitudin velit. Donec vel dapibus nulla. Quisque a aliquet lorem, ac mollis arcu. Nunc elementum justo quis libero vulputate ullamcorper a sit amet neque. Donec posuere volutpat leo vel adipiscing. Suspendisse potenti. Phasellus nec nisl nec velit vestibulum scelerisque eget vitae velit.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="/Images/Main/main3.jpg" />
            <div class="caption">
                <h1>Dumb Starbucks College Achievement Plan</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet euismod enim. Vestibulum non nisi at magna ultrices rutrum eget ac ante. Suspendisse est enim, malesuada vitae mauris ut, auctor ullamcorper elit. Aliquam nec enim dui. Vestibulum commodo, dui non hendrerit iaculis, turpis orci dapibus quam, at condimentum risus tellus in odio. Sed varius viverra quam, sed bibendum elit aliquet eget. Sed hendrerit tincidunt ipsum lobortis egestas. Nam auctor augue risus, vitae sollicitudin orci blandit eget. Aliquam pellentesque ornare tellus, nec tempus eros pharetra nec. Pellentesque sed sollicitudin velit. Donec vel dapibus nulla. Quisque a aliquet lorem, ac mollis arcu. Nunc elementum justo quis libero vulputate ullamcorper a sit amet neque. Donec posuere volutpat leo vel adipiscing. Suspendisse potenti. Phasellus nec nisl nec velit vestibulum scelerisque eget vitae velit.</p>
            </div>
        </div>
    </div>
</div>